{% extends "!layout.html" %}
  {% block sidebartitle %}
    <!-- HELLO WORLD -->
    {{ super() }} 

{% endblock %}
{% block menu %}
    {{ super() }}
     <li class="toctree-l1" style="position: fixed; bottom: 0;"><a class="fa fa-envelope" href="mailto:clumpy@lpsc.in2p3.fr" target="_top"  style="color:#fcfcfc;"> clumpy@lpsc.in2p3.fr</a></li>
    <!-- <li class="toctree-l1"><a class="reference internal" href="{{ pathto('py-modindex') }}">Modules index</a></li> -->

{% endblock %}
{% block branding %}
<!-- MY BRAND -->
{% endblock %}

/* Remove below to restore original Readthedocs color scheme */
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #9f77da; /* green: 7ba660 */
    }
    /* Sidebar 
    .wy-nav-side {
      background: #000245;
    } */

  </style>
{% endblock %}